<div class="main-div">

    <div class="col-12 text-center">

        <marquee width="100%" direction="left" height="25px" scrollamount="10" style="color: rgb(7, 7, 7); background-color: rgb(247, 204, 95); margin-bottom: auto; padding-top: 4px; font-size: 17px; word-spacing: 8px;">
            THANK YOU - PLEASE VISIT US AGAIN - PRINT E-TICKETS GO PAPERLESS -  HAPPY & SAFE JOURNEY
        </marquee>

        <!-- <h1>Admin Dashboard</h1> -->
        <div class="display-1">
            <p style="color: black; text-align: center;" class="font-weight-bold font-italic">THANK YOU FOR USING OUR SERVICE :)</p>
        </div>

        <br> 
        <br>

        <div class="display-1">
            <p style="color: black; text-align: center;" class="font-weight-bold font-italic">PLEASE VISIT US AGAIN!!!</p>
        </div>

        <div class="row mt-5">

            <div class="col-md-4">

        <button class="btn btn btn-primary btn-block" (click)="gotoHome()">Home</button>

            </div>

            <div class="col-md-4">

        <button class="btn btn-primary btn-block" (click)="trainAvailability()">Check Train Avability</button>

            </div>

            <div class="col-md-4">

                <button class="btn btn-primary btn-block" (click)="bookingInfo()">Book Another Ticket</button>
        
            </div>

        </div>
        
</div>

</div>
