<div class="bg">

    <div class="container mt-5 login-container">
    
        <div class="card" style="padding: 10px;">
    
            <div class="col-md-12 login-form-1">
    
                <!-- <h3>LOGIN HERE</h3> -->
                <h2 style="color: white; text-align: center;" class="font-weight-bold font-italic">LOGIN HERE</h2>
                
                   <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                <input type="text"
                ngModel
                name="userName"
                id="userName"
                placeholder="Enter your username"
                class="form-control mb-3"
                >
    
                <input type="password"
                ngModel
                name="userPassword"
                id="userPassword"
                placeholder="Enter your password"
                class="form-control mb-3"
                >
    
                <input type="submit"
                value="Login"
                class="btn btn-outline-success form-control rounded-0">
    
                <input type="reset"
                value="Reset"
                class="btn btn-outline-primary form-control rounded-0 mt-2">
    
            </form>
                
            </div>
    
        </div>
    </div>
    
    </div>


<!-- <div class="bootstrap-wrapper">
    <div class="container mt">

        <div class="row">

            <div class="col-md-6 offset-md-3">

                <div class="container mt-5">
                    <div class="card text-center" style="padding: 20px; color: red;">
                        <h1>Login Here</h1>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div> -->

<!-- <div class="container mt-5">
    <div class="card" style="padding: 20px;">
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
            <input type="text"
            ngModel
            name="userName"
            id="userName"
            placeholder="Enter your username"
            class="form-control mb-3"
            >

            <input type="password"
            ngModel
            name="userPassword"
            id="userPassword"
            placeholder="Enter your password"
            class="form-control mb-3"
            >

            <input type="submit"
            value="Login"
            class="btn btn-outline-primary form-control rounded-0">

            <input type="reset"
            value="Reset"
            class="btn btn-outline-primary form-control rounded-0 mt-2">

        </form>
    </div>
</div> -->


















































<!-- <div class="bootstrap-wrapper">

    <div class="container mt">

        <div class="row">

            <div class="col-md-6 offset-md-3">

                <div class="container text-center">

                    <img class="img-fluid" style="width: 100px;" src="/assets/lock.png" alt="">

                </div> -->

                <!-- <h1 class="text-center">Login Here</h1> -->

                <!-- Creating Forms -->

                <!-- <form action=""> -->

                <!-- <form>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input name="username"
                        required type="text" matInput />
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input name="password"
                        required type="password" matInput />
                    </mat-form-field>

                    <div class="container text-center">

                        <button type="submit" mat-raised-button color= "primary">Login</button>

                        <button style="margin-left: 10px;" type="reset" mat-raised-button color= "accent">Reset</button>

                    </div>

                </form>

            </div>
        </div>

    </div>

</div> -->

