<div class='image-background'>
  <div class='container h-100'>
    <div class='row h-100 align-items-center'>
      <div class='col-12 text-center'>

        <h1 class="display-1">
           <mat-card>
            <b  style="color: white;">WELCOME TO PAKISTAN RAILWAYS</b>
           </mat-card>
        </h1>

        <marquee width="100%" direction="left" height="25px" scrollamount="10" style="color: rgb(7, 7, 7); background-color: orange; margin-bottom: auto; padding-top: 4px; font-size: 17px; word-spacing: 8px;">
          WELCOME TO PAKISTAN RAILWAYS -  ONE OF THE LARGEST AND BUSIEST RAIL NETWORKS IN THE WORLD, TRANSPORTING A SIX BILLION PASSENGERS A YEAR.
      </marquee>

        <div class="display-3">
          <p style="color: white;" class="font-weight-bold font-italic">One Search Destination..</p>
        </div>
        
      </div>
    </div>
  </div>
</div>


















































































