<div class="bg">

<div class="container">

    <!-- <h2>Stripe Checkout</h2> -->
    <h2 style="color: white; text-align: center;" class="font-weight-bold font-italic"> <mark>PAYMENT PAGE</mark></h2>

    <!-- <div class="row mt-5">

    <h2 style="color: white; text-align: center;" class="font-weight-bold font-italic"> <mark>Source Station</mark></h2>

    <div class="col-md-4">

    <input type="text" placeholder="Lahore" readonly>
  
    </div>

    </div> -->

    <div class="row mt-5 text-center">

      <div class="col-md-5 mt-5">
        <button (click)="pay(200)" class="btn btn-primary btn-block"> Unreserved/General Class (2S) - Pay ₹200</button>
      </div>

      <div class="col-md-5 mt-5">
        <button (click)="pay(300)" class="btn btn-info btn-block"> Second Seating AC (2S) - Pay ₹300</button>
      </div>

      <div class="col-md-5 mt-5">
        <button (click)="pay(450)" class="btn btn-warning btn-block">Sleeper Class (SL) - Pay ₹450</button>
      </div>

      <div class="col-md-5 mt-5">
        <button (click)="pay(600)" class="btn btn-success btn-block">Three Tier Air Conditioned Class (3A) - Pay ₹600</button>
      </div>

      <div class="col-md-5 mt-5">
        <button (click)="pay(750)" class="btn btn-success btn-block">Two Tier Air Conditioned Class (2AC) - Pay ₹750</button>
      </div>

      <div class="col-md-5 mt-5">
        <button (click)="pay(850)" class="btn btn-success btn-block">First Class Air Conditioned (1AC) - Pay ₹850</button>
      </div>

    </div>
    <!-- <p class="mt-5">
        Try it out using the test card number <b>4242 4242 4242 4242</b>, a random three-digit CVC number, any expiration date in the future, and a random five-digit U.S. ZIP code.
    </p> -->
  </div>

</div>