<div class="bg">

<div class="col-md-6 offset-md-3" style="height: 600px; overflow-y: scroll;">

    <mat-card-title> 
        <h2 style="color: white; text-align: center;" class="font-weight-bold font-italic"> <mark>UPDATE TRAIN</mark></h2>
    </mat-card-title>
    
    <form (ngSubmit)="onSubmit()">
    
    <div class="form-group">
    
        <label style="color: black;"> <h2>Train Id</h2></label>
    
        <input type="text" class="form-control" id="trainId"
        [(ngModel)] = "train.trainId" name= "trainId">
    
    </div>
    
    <div class="form-group">
    
        <label style="color: black;"> <h2>Train Name</h2></label>
    
        <input type="text" class="form-control" id="trainName"
        [(ngModel)] = "train.trainName" name= "trainName">
    
    </div>
    
    <div class="form-group">
    
        <label style="color: black;"> <h2>Train Day</h2></label>
    
        <input type="text" class="form-control" id="trainDay"
        [(ngModel)] = "train.trainDay" name= "trainDay">
    
    </div>
    
    <div class="form-group">
    
        <label style="color: black;"> <h2>Train Seat</h2></label>
    
        <input type="text" class="form-control" id="trainSeat"
        [(ngModel)] = "train.trainSeat" name= "trainSeat">
    
    </div>
    
    <div class="form-group">
    
        <label style="color: black;"> <h2>Train Source</h2></label>
    
        <input type="text" class="form-control" id="trainSource"
        [(ngModel)] = "train.trainSource" name= "trainSource">
    
    </div>
    
    <div style="color: black;" class="form-group">
    
        <label style="color: black;"> <h2>Train Destination</h2></label>
    
        <input type="text" class="form-control" id="trainDestination"
        [(ngModel)] = "train.trainDestination" name= "trainDestination">
    
    </div>
    
    <button type="submit" class="btn btn-success">Submit</button>
    
    </form>
    
    
    </div>

</div>
